<web-app>
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBook</servlet-name>
        <servlet-class>EditBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove</servlet-name>
        <servlet-class>Remove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellBook</servlet-name>
        <servlet-class>SellBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOldBook</servlet-name>
        <servlet-class>DeleteOldBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPF</servlet-name>
        <servlet-class>EditPF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>Order</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBook</servlet-name>
        <url-pattern>/EditBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/DeleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove</servlet-name>
        <url-pattern>/Remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellBook</servlet-name>
        <url-pattern>/SellBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOldBook</servlet-name>
        <url-pattern>/DeleteOldBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPF</servlet-name>
        <url-pattern>/EditPF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
</web-app>